{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">名言集</h1>
      <p>偉人の言葉を聞こう！</p>
      <button type="button" class="btn btn-light"><a href = "{% url 'create' %}">新規作成</a></button>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    {% for item in object_list %}
    <div class="alert alert-warning" role="alert">
        <p><a href = "{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <button type="button" class="btn btn-success"><a href = "{% url 'update' item.pk %}"><font color="white">更新する</font></a></button>
        <button type="button" class="btn btn-danger"><a href = "{% url 'delete' item.pk %}"><font color="white">削除する</font></a></button>
    </div>
    {% endfor %}
</div>

{% endblock content %}

